@model ConfigurationsExample.Models.ConfigurationModel

<h1 id="message">
     Configurations
</h1>
<div id="information">
    <div id="CreationTime">
        Configurations Creation Time: @Model.CreatedTime.ToString()
    </div>
</div>